@black: #000;
@white: #fff;

@blue: #0048ff;

@blue-light: lighten(@blue, 10%);
@blue-dark:  darken(@blue, 10%);

@green: #01b24b;

@green-light: lighten(@green, 10%);
@green-dark:  darken(@green, 10%);

@red: #e82929; 
@red-light: lighten(@red, 10%);
@red-dark:  darken(@red, 10%);

@purple: #60028c;
@purple-light: lighten(@purple, 10%);
@purple-dark:  darken(@purple, 10%);

@orange: #ef5e10;
@orange-light: lighten(@orange, 10%);
@orange-dark:  darken(@orange, 10%);

@yellow: #e5e50d;
@yellow-light: lighten(@yellow, 10%);
@yellow-dark:  darken(@yellow, 10%);

@pink: #f975cb;
@pink-light: lighten(@pink, 10%);
@pink-dark:  darken(@pink, 10%);

@gray: #c1c1c1;
@gray-light: lighten(@gray, 10%);
@gray-dark:  darken(@gray, 10%);

@col-primary:   @blue;
@col-secondary: @gray-light;