@black: #000;
@white: #fff;

@blue:   #0048ff;
@green:  #01b24b;
@red:    #e82929; 
@purple: #60028c;
@orange: #ef5e10;
@yellow: #e5e50d;
@pink:   #fa8ffc;

@grey: #c1c1c1;

@col-primary:   @blue;
@col-secondary: @orange;