// 320px  - 419px @tiny-screen
@mobile-tiny:  ~"only screen and (max-width: 319px)";  // Target below 320px
@mobile-min:   ~"only screen and (min-width: 320px)";  // Default Mobiles 320 360 375 412 414

@mobile-max:   ~"only screen and (max-width: 479px)";  // Target genereal Mobile Only
@mobile-large: ~"only screen and (min-width: 480px)";  // Default large mobiles

// 481px  - 767px @medium-screen
@tablet-max:  ~"only screen and (max-width: 767px)";
@tablet-min:  ~"only screen and (min-width: 768px)";

// 768px  - 1023px @medium-plus-screen
@desktop-narrow-max:  ~"only screen and (max-width: 991px)";
@desktop-narrow-min:  ~"only screen and (min-width: 992px)";

// 1024px - 1279px @large-screen
@desktop-wide-max:  ~"only screen and (max-width: 1279px)";
@desktop-wide-min:  ~"only screen and (min-width: 1280px)";

// 1920px+ @hd-screen
@hd-max:  ~"only screen and (max-width: 1920px)";
@hd-min:  ~"only screen and (min-width: 1920px)";
