// 320px  - 419px @tiny-screen
@tiny-screen-max:   ~"only screen and (max-width: 319px)";  // Target below 320px
@small-screen-max:  ~"only screen and (max-width: 479px)";  // Target genereal Mobile Only

@tiny-screen-min:   ~"only screen and (min-width: 320px)"; // Default Mobiles 320 360 375 412 414
@small-screen-min:  ~"only screen and (min-width: 420px)"; // Default large mobiles

// 481px  - 767px @medium-screen
@medium-screen-max:  ~"only screen and (max-width: 767px)";
@medium-screen-min:  ~"only screen and (min-width: 768px)";


// 768px  - 1023px @medium-plus-screen
@medium-plus-screen-max:  ~"only screen and (max-width: 991px)";
@medium-plus-screen-min:  ~"only screen and (min-width: 992px)";


// 1024px - 1279px @large-screen
@large-screen-screen-max:  ~"only screen and (max-width: 1279px)";
@large-screen-screen-min:  ~"only screen and (min-width: 1280px)";


// 1280px - 1360px @x-large-screen
@x-large-screen-screen-max:  ~"only screen and (max-width: 1359px)";
@x-large-screen-screen-min:  ~"only screen and (min-width: 1360px)";


// 1920px+ @hd-screen
@hd-screen-screen-max:  ~"only screen and (max-width: 1919px)";
@hd-screen-screen-min:  ~"only screen and (min-width: 1920px)";
