@settings: {
  radius: 4px;
  primary-font: 'Roboto';
  secondary-font: 'Tahoma';
}

@color: {
  primary: @elephant;
  secondary: @fresh-eggplant;
  contrast: @pippin;
  pale: @linen;
  graylight: @alto;
  graymedium: @silver-chalice;
  graydark: @tuna;
  success: @forest-green;
  warning: @amber;
  error: @vermilion;
}