@settings: {
  border-radius: 4px;
  primary-font: 'Roboto';
  secondary-font: 'Tahoma';
}

@theme-colors: {
  primary:    @teal-dark[01];
  secondary:  @purple[20];
  tertiary:   @purple-pale[03];
  contrast:   @pink-dark[04];
  pale:       @blue-pale[02];
  graylight:  @gray-light[03];
  graymedium: @gray[04];
  graydark:   @gray-dark[04];
  success:    @green[11];
  warning:    @amber[03];
  error:      @red[03];
}