#button {
  
  .defaults() {
    border: none;
    outline: none;
    padding: .8em;
    font-size: .8em
  }
  
  .flat(@col: @col-primary) when (default()) {
    #button.defauts();
    background: @col;
  }
  
  .flat(@type, @col: @col-primary) when (@type = round-edge) {
    #button.defauts();
    background: @col;
    border-radius: 4px;
  }
  
  .flat(@type, @col: @col-primary) when (@type = round) {
    #button.defauts();
    background: @col;
    border-radius: 20px;
  }
  
  .link(@col-primary) {
    text-decoration: none;
    font-size: 1.2em;
    width: 120px;
    display: inline-block;
    float: left;
    margin-right: 1em;
    padding: .6em;
    text-align: center;
    border-radius: .2em;
    color: @col;
    #border.solid(1px, @col-primary);
    
    &:hover,
    &.active {
      #display.colors(white, @col-primary);
    }
  }
  
}