#form {

  .input() {
    border-radius: 6px;
    padding: 4px;
    font-size: 1.2em;
    #display.dimensions(100%, 38px);
    #display.colors(@black, #fafafa);
    #display.border(2px, #ddd);
  }
  
}
