#form {

  .input() {
    border-radius: 6px;
    padding: 4px;
    font-size: 1.2rem;
    #display.dimensions(100%, 38px);
    #display.colors(@black, #fafafa);
    #border.solid(2px, #ddd);
  }
  
  .textarea() {
    padding: .25rem;
    #border.solid(2px, #ddd);
  }
  
  .select() {
    padding: 4px;
    font-size: 1rem;
    #border.solid(2px, #ddd);
  }
  
}
