#shape {

  .arrow(@direction, @size: 1rem, @color: @color[primary]) when (@direction =up) {
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid @color;
    #display.dimensions(equal, 0);
  }

  .arrow(@direction, @size: 1rem, @color: @color[primary]) when (@direction =down) {
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-top: @size solid @color;
    #display.dimensions(equal, 0);
  }

  .arrow(@direction, @size: 1rem, @color: @color[primary]) when (@direction =left) {
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-right: @size solid @color;
    #display.dimensions(equal, 0);
  }

  .arrow(@direction, @size: 1rem, @color: @color[primary]) when (@direction =right) {
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-left: @size solid @color;
    #display.dimensions(equal, 0);
  }

  /*
   * Round shapes
   */

  .round(@size: 100px, @color: @color[primary]) {
    background-color: @color;
    border-radius: 50%;
    #display.dimensions(equal, @size);
  }

  /*
   * Width & Height always equal.
   * Background-color, Padding and Border-radius can be changed.
   * @paramas: @size = {width & height}, background-color, border-raduis & padding
   */


  .square(@size: 100px, @background: @color[primary]) when (default()) {
    display: block;
    background-color: @background;
    #display.dimensions(equal, @size);
  }

  .square(@type, @size: 100px, @background: @color[primary], @radius: @settings[radius]) when (@type =rounded) {
    #shape.square(@size, @background);
    border-radius: @radius;
  }

  .rectangle(@width: 100px, @background: @color[primary]) when (default()) {
    display: block;
    background-color: @background;
    #display.dimensions(@width, @width / 3);
  }

  .rectangle(@type, @width: 100px, @background: @color[primary], @radius: @settings[radius]) when (@type =rounded) {
    border-radius: @radius;
    #shape.rectangle(@width, @background);
  }
}